<div>
    <div>
        <label for="">Cidade</label>
    </div>
    <input type="text" [(ngModel)]="cidade">

</div>

<div>
    <div>
        <label for="">Idade</label>
    </div>
    <input type="text" [(ngModel)]="idade">
</div>

<div>
    <h1 *ngIf="true">Teste *ngIf</h1>

    <h1 *ngIf="cidade === 'BNU'" >Cidade: Blumenau</h1>

    <h1 *ngIf="cidade !== 'BNU'">Cidade: Não é BNU</h1>

    <h1 *ngIf="idade >= 5">Idade >= 5</h1>

    <h1 *ngIf="idade >= 5 && idade < 8">Idade >= 5 & < 8</h1>

    <h1 *ngIf="idade >= 5 || cidade === 'BNU'">Idade >= 5 OU Cidade = BNU </h1>

</div>
