          /*Seletor universal*/
          /*CSS Reset*/
          * {
              background: rgb(245, 218, 241);
              color: yellowgreen;
          }

          /*Seletor de elemento */
          p {
              color: blue
          }


          /*Seletor de classe */
          .clTexto {
              text-align: center;
          }

          /*Seletor de id */
          #idTexto {
              background: yellow;
          }

          /*Seletor com Variaveis*/
          input[type=text] {
              background-color: aquamarine;
          }

          /*Seletor de pseudo-classe*/
          input[type=text]:focus {
              background-color: bisque;
          }